@import url("./auto-layout.css");
@import url("./colours.css");

body {
	margin: 0px;
}

nav {
	padding: 8px 7.5%;
}
header, section, footer {
	padding: 16px 10%;
}

body,
header, section, footer {
	background: var(--background);
	color: var(--color);
}

.card {
	display: block;
	padding: 16px;
	border: 2px solid var(--green);
	border-radius: 8px;
}

a.card:hover {
	box-shadow: 0 4px 16px 0 color-mix(in srgb, var(--green) 50%, transparent);
}

a {
	color: #8C8CFF;
	cursor: pointer;
}

a.no-link {
	text-decoration: none;
	color: var(--color);
}

ul.no-mark,
ol.no-mark {
	list-style: none;
	padding-left: 0;
}